@font-face {
  font-family: "Chi-TownNF";
  font-style: normal;
  src: local("Chi-TownNF"),
  url("./fonts/Chi-TownNF.woff") format("woff");
}

@font-face {
  font-family: "Monaco";
  font-style: normal;
  src: local("Monaco"),
  url("./fonts/Monaco.woff") format("woff");
}
