<section class="body">
  <app-container class="header" routerLink="/">
    <div class="header-title">
      <div class="header-picture"></div>
      <div class="header-text">TrafficMeister</div>
      <div class="header-underline"></div>
    </div>
  </app-container>
  <div class="content" *ngIf="form" [formGroup]="form">
    <app-container class="form">
      <div class="form-fields">
        <app-select formControlName="vehicle" label="vehicle" [values]="vehicles$ | async"></app-select>
        <app-select formControlName="brand" label="brand" [values]="brands$ | async"></app-select>
        <app-select formControlName="color" label="color" [values]="colors$ | async"></app-select>
        <div class="error" *ngIf="error$ | async as error">
          <p>{{error}}</p>
          <button (click)="tryAgain()">Try again</button>
        </div>
      </div>
    </app-container>
    <app-container class="result">
      <router-outlet></router-outlet>
      <div class="loading" *ngIf="loading$ | async">Loading...</div>
    </app-container>
  </div>
</section>

