@import "../../vars";

:host {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: auto;
  padding: $special-margin;
}

@media screen and (max-width: 660px) {
  :host {
    position: relative;
    padding: 0;
  }
}
